In [1]:
#Khai báo thư viện quản lý dữ liệu trong dataframe
import pandas as pd
#Khai báo thư viện làm việc với các thao tác số học
import numpy as np

In [2]:
#Đọc dữ liệu từ file csv
df=pd.read_csv('credit_risk_dataset.csv')
df

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [3]:
#Hiển thị thông tin hiện tại
df.info()
#Theo bảng thống kê dưới, các thuộc tính có kiểu dữ liệu lần lượt là object, folat64, và int64
#Ngoài ra, nó có tồn tại các giá trị bị khuyết ở thuộc tính person_emp_length và loan_int_rate
#Vì vậy, ta tiến hành tiền xử lý để bổ dữ liệu này "sạch" hơn
#Và có thể sử dụng để dự đoán mô hình

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   person_age                  32581 non-null  int64
 1   person_income               32581 non-null  int64
 2   person_home_ownership       32581 non-null  object
 3   person_emp_length           31686 non-null  float64
 4   loan_intent                 32581 non-null  object
 5   loan_grade                  32581 non-null  object
 6   loan_amnt                   32581 non-null  int64
 7   loan_int_rate               29465 non-null  float64
 8   loan_status                 32581 non-null  int64
 9   loan_percent_income         32581 non-null  float64
 10  cb_person_default_on_file   32581 non-null  object
 11  cb_person_cred_hist_length  32581 non-null  int64
dtypes: float64(3), int64(5), object(4)
memory usage: 3.0+ MB

### Xử lý dữ liệu

In [5]:
#Tiến hành kiểm tra các giá trị phân biệt với biến person_age
#Phát hiện có giá trị bất thường (123,144) trong biến
age_unique=df['person_age'].unique()
age_unique

array([ 22,  21,  25,  23,  24,  26, 144, 123,  20,  32,  34,  29,  33,
        28,  35,  31,  27,  30,  36,  40,  50,  45,  37,  39,  44,  43,
        41,  46,  38,  47,  42,  48,  49,  58,  65,  51,  53,  66,  61,
        54,  57,  59,  62,  60,  55,  52,  64,  70,  78,  69,  56,  73,
        63,  94,  80,  84,  76,  67], dtype=int64)

In [6]:
#Tiến hành kiểm tra các giá trị phân biệt của biến person_emp_length
#Phát hiện có giá trị bất thường (123) trong biến
person_emp_length_unique=df['person_emp_length'].unique()
person_emp_length_unique

array([123.,   5.,   1.,   4.,   8.,   2.,   6.,   7.,   0.,   9.,   3.,
        10.,  nan,  11.,  18.,  12.,  17.,  14.,  16.,  13.,  19.,  15.,
        20.,  22.,  21.,  24.,  23.,  26.,  25.,  27.,  28.,  31.,  41.,
        34.,  29.,  38.,  30.])

In [7]:
#Tiến hành xuất các dòng có chứa giá trị tuổi là 123
df[df['person_age']==123]

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
575,123,80004,RENT,2.0,EDUCATION,B,20400,10.25,0,0.25,N,3
747,123,78000,RENT,7.0,VENTURE,B,20000,NaN,0,0.26,N,4

In [8]:
#Tiến hành xuất các dòng có chứa giá trị tuổi là 144
df[df['person_age']==144]

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
81,144,250000,RENT,4.0,VENTURE,C,4800,13.57,0,0.02,N,3
183,144,200000,MORTGAGE,4.0,EDUCATION,B,6000,11.86,0,0.03,N,2
32297,144,6000000,MORTGAGE,12.0,PERSONAL,C,5000,12.73,0,0.00,N,25

In [9]:
#Tiến hành xuất các dòng có chứa giá trị thời gian làm việc là 123
df[df['person_emp_length']==123]

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
210,21,192000,MORTGAGE,123.0,VENTURE,A,20000,6.54,0,0.10,N,4

In [12]:
#Các giá trị trên có ảnh hưởng tới cột dữ liệu nên tiến hành loại bỏ các dòng chứa giá trị trên.
df=df[df['person_age'] !=123]
df=df[df['person_age'] !=144]
df=df[df['person_emp_length'] !=123]
df

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4
5,21,9900,OWN,2.0,VENTURE,A,2500,7.14,1,0.25,N,2
...,...,...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11,N,30
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15,N,19
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46,N,28
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10,N,26
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15,N,30

In [14]:
#Tiến hành điền khuyết các giá trị trong biến loan_int_rate
from sklearn.impute import SimpleImputer

# Khởi tạo imputer với chiến lược trung vị
imputer = SimpleImputer(strategy='median')

# Điền giá trị khuyết cho cột 'loan_int_rate'
df[['loan_int_rate']] = imputer.fit_transform(df[['loan_int_rate']])
df['loan_int_rate']

1        11.14
2        12.87
3        15.23
4        14.27
5         7.14
         ...
32576    13.16
32577     7.49
32578    10.99
32579    11.48
32580     9.99
Name: loan_int_rate, Length: 32574, dtype: float64

In [15]:
#Tiến hành điền khuyết các giá trị trong biến person_emp_length
from sklearn.impute import SimpleImputer

# Khởi tạo imputer với chiến lược trung vị
imputer = SimpleImputer(strategy='median')

# Điền giá trị khuyết cho cột 'loan_int_rate'
df[['person_emp_length']] = imputer.fit_transform(df[['person_emp_length']])
df['person_emp_length']

1        5.0
2        1.0
3        4.0
4        8.0
5        2.0
        ...
32576    1.0
32577    4.0
32578    3.0
32579    5.0
32580    2.0
Name: person_emp_length, Length: 32574, dtype: float64

In [16]:
#Nhận thấy các cột thu nhập (person_income), khoản vay(loan_amnt), tỷ lệ(loan_perscentr_income) có đơn vị đo lường khác nhau cần được đưa về cùng một thang đo để các mô hình học máy hoạt động hiệu quả hơn.
#Tránh chi phối bởi các biến lớn: Nếu không chuẩn hóa, các biến có giá trị lớn (như thu nhập) sẽ lấn át các biến khác trong quá trình huấn luyện mô hình.
#Tiến hành chuẩn hóa min-max scaling để chuẩn hóa các cột 'person_income', 'loan_amnt', 'loan_percent_income'
from sklearn.preprocessing import MinMaxScaler

# Lấy các cột cần chuẩn hóa
cols_to_scale = ['person_income', 'loan_amnt', 'loan_percent_income','person_age','person_emp_length','loan_int_rate','cb_person_cred_hist_length']

# Tạo scaler
scaler = MinMaxScaler()

# Thực hiện chuẩn hóa
df[cols_to_scale] = scaler.fit_transform(df[cols_to_scale])

print("Dữ liệu sau khi chuẩn hóa bằng Min-Max Scaling:")
print(df[cols_to_scale].head())

Dữ liệu sau khi chuẩn hóa bằng Min-Max Scaling:
   person_income  loan_amnt  loan_percent_income  person_age  \
1       0.002751   0.014493             0.120482    0.013514
2       0.002751   0.144928             0.686747    0.067568
3       0.030209   1.000000             0.638554    0.040541
4       0.024757   1.000000             0.662651    0.054054
5       0.002898   0.057971             0.301205    0.013514

   person_emp_length  loan_int_rate  cb_person_cred_hist_length
1           0.121951       0.321348                    0.000000
2           0.024390       0.418539                    0.035714
3           0.097561       0.551124                    0.000000
4           0.195122       0.497191                    0.071429
5           0.048780       0.096629                    0.000000

In [19]:
# Áp dụng One-Hot Encoding trực tiếp
df = pd.get_dummies(df, columns=['person_home_ownership', 'loan_intent', 'cb_person_default_on_file'], drop_first=False)
print(df.head())

   person_age  person_income  person_emp_length loan_grade  loan_amnt  \
1    0.013514       0.002751           0.121951          B   0.014493
2    0.067568       0.002751           0.024390          C   0.144928
3    0.040541       0.030209           0.097561          C   1.000000
4    0.054054       0.024757           0.195122          C   1.000000
5    0.013514       0.002898           0.048780          A   0.057971

   loan_int_rate  loan_status  loan_percent_income  \
1       0.321348            0             0.120482
2       0.418539            1             0.686747
3       0.551124            1             0.638554
4       0.497191            1             0.662651
5       0.096629            1             0.301205

   cb_person_cred_hist_length  person_home_ownership_MORTGAGE  ...  \
1                    0.000000                           False  ...
2                    0.035714                            True  ...
3                    0.000000                           False  ...
4                    0.071429                           False  ...
5                    0.000000                           False  ...

   person_home_ownership_OWN  person_home_ownership_RENT  \
1                       True                       False
2                      False                       False
3                      False                        True
4                      False                        True
5                       True                       False

   loan_intent_DEBTCONSOLIDATION  loan_intent_EDUCATION  \
1                          False                   True
2                          False                  False
3                          False                  False
4                          False                  False
5                          False                  False

   loan_intent_HOMEIMPROVEMENT  loan_intent_MEDICAL  loan_intent_PERSONAL  \
1                        False                False                 False
2                        False                 True                 False
3                        False                 True                 False
4                        False                 True                 False
5                        False                False                 False

   loan_intent_VENTURE  cb_person_default_on_file_N  \
1                False                         True
2                False                         True
3                False                         True
4                False                        False
5                 True                         True

   cb_person_default_on_file_Y
1                        False
2                        False
3                        False
4                         True
5                        False

[5 rows x 21 columns]

In [20]:
# Chuyển đổi toàn bộ dataframe từ True/False sang 0/1
df = df.replace({True: 1, False: 0})

C:\Users\HP\AppData\Local\Temp\ipykernel_10396\1439498354.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.replace({True: 1, False: 0})

In [22]:
#Đối với biến 'loan_grade' là biến phân loại theo thứ tự, tiến hành sử dụng rank-based scaling để chuẩn hóa dữ liệu biến trên
#Kiểm tra biến loan_grade trong dataset
if 'loan_grade' in df.columns:
    #Tiến hành rank-based scaling, khi mà các giá trị được chuẩn hóa về từ 0 đến 1 và được đánh số theo thứ tự tăng dần
    df['loan_grade_rank'] = df['loan_grade'].rank(method='dense').astype(float)
    df['loan_grade_scaled'] = df['loan_grade_rank'] / df['loan_grade_rank'].max()
else:
    print("'loan_grade' column not found in the dataset.")
df

,person_age,person_income,person_emp_length,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,...,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,cb_person_default_on_file_N,cb_person_default_on_file_Y,loan_grade_rank,loan_grade_scaled
1,0.013514,0.002751,0.121951,B,0.014493,0.321348,0,0.120482,0.000000,0,...,0,1,0,0,0,0,1,0,2.0,0.285714
2,0.067568,0.002751,0.024390,C,0.144928,0.418539,1,0.686747,0.035714,1,...,0,0,0,1,0,0,1,0,3.0,0.428571
3,0.040541,0.030209,0.097561,C,1.000000,0.551124,1,0.638554,0.000000,0,...,0,0,0,1,0,0,1,0,3.0,0.428571
4,0.054054,0.024757,0.195122,C,1.000000,0.497191,1,0.662651,0.071429,0,...,0,0,0,1,0,0,0,1,3.0,0.428571
5,0.013514,0.002898,0.048780,A,0.057971,0.096629,1,0.301205,0.000000,0,...,0,0,0,0,0,1,1,0,1.0,0.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32576,0.500000,0.024069,0.024390,C,0.153623,0.434831,0,0.132530,1.000000,1,...,0,0,0,0,1,0,1,0,3.0,0.428571
32577,0.459459,0.056981,0.097561,A,0.496377,0.116292,0,0.180723,0.607143,1,...,0,0,0,0,1,0,1,0,1.0,0.142857
32578,0.608108,0.035367,0.073171,B,1.000000,0.312921,1,0.554217,0.928571,0,...,0,0,1,0,0,0,1,0,2.0,0.285714
32579,0.486486,0.071717,0.121951,B,0.420290,0.340449,0,0.120482,0.857143,1,...,0,0,0,0,1,0,1,0,2.0,0.285714
32580,0.621622,0.018666,0.048780,B,0.173188,0.256742,0,0.180723,1.000000,0,...,0,0,0,1,0,0,1,0,2.0,0.285714

### Lưu bộ dữ liệu đã xử lý

In [23]:
#Thông tin các thuộc tính sau khi đã tiền xử lý
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32574 entries, 1 to 32580
Data columns (total 23 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   person_age                      32574 non-null  float64
 1   person_income                   32574 non-null  float64
 2   person_emp_length               32574 non-null  float64
 3   loan_grade                      32574 non-null  object
 4   loan_amnt                       32574 non-null  float64
 5   loan_int_rate                   32574 non-null  float64
 6   loan_status                     32574 non-null  int64
 7   loan_percent_income             32574 non-null  float64
 8   cb_person_cred_hist_length      32574 non-null  float64
 9   person_home_ownership_MORTGAGE  32574 non-null  int64
 10  person_home_ownership_OTHER     32574 non-null  int64
 11  person_home_ownership_OWN       32574 non-null  int64
 12  person_home_ownership_RENT      32574 non-null  int64
 13  loan_intent_DEBTCONSOLIDATION   32574 non-null  int64
 14  loan_intent_EDUCATION           32574 non-null  int64
 15  loan_intent_HOMEIMPROVEMENT     32574 non-null  int64
 16  loan_intent_MEDICAL             32574 non-null  int64
 17  loan_intent_PERSONAL            32574 non-null  int64
 18  loan_intent_VENTURE             32574 non-null  int64
 19  cb_person_default_on_file_N     32574 non-null  int64
 20  cb_person_default_on_file_Y     32574 non-null  int64
 21  loan_grade_rank                 32574 non-null  float64
 22  loan_grade_scaled               32574 non-null  float64
dtypes: float64(9), int64(13), object(1)
memory usage: 6.0+ MB

In [24]:
df.head()

,person_age,person_income,person_emp_length,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_cred_hist_length,person_home_ownership_MORTGAGE,...,loan_intent_DEBTCONSOLIDATION,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,cb_person_default_on_file_N,cb_person_default_on_file_Y,loan_grade_rank,loan_grade_scaled
1,0.013514,0.002751,0.121951,B,0.014493,0.321348,0,0.120482,0.000000,0,...,0,1,0,0,0,0,1,0,2.0,0.285714
2,0.067568,0.002751,0.024390,C,0.144928,0.418539,1,0.686747,0.035714,1,...,0,0,0,1,0,0,1,0,3.0,0.428571
3,0.040541,0.030209,0.097561,C,1.000000,0.551124,1,0.638554,0.000000,0,...,0,0,0,1,0,0,1,0,3.0,0.428571
4,0.054054,0.024757,0.195122,C,1.000000,0.497191,1,0.662651,0.071429,0,...,0,0,0,1,0,0,0,1,3.0,0.428571
5,0.013514,0.002898,0.048780,A,0.057971,0.096629,1,0.301205,0.000000,0,...,0,0,0,0,0,1,1,0,1.0,0.142857

In [ ]:
# Lưu bộ dữ liệu đã được tiền xử lý ở định dạng csv với tên là 'Credit_risk_afterProcessed.csv'
df.to_csv('Credit_risk_Processed.csv', index=False)